@font-face {
  font-family: 'AntDesign';
  src: url('/assets/fonts/AntDesign.3a2ba31570920eeb9b1d217cabe58315.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Entypo';
  src: url('/assets/fonts/Entypo.31b5ffea3daddc69dd01a1f3d6cf63c5.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EvilIcons';
  src: url('/assets/fonts/EvilIcons.140c53a7643ea949007aa9a282153849.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Feather';
  src: url('/assets/fonts/Feather.a76d309774d33d9856f650bed4292a23.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fonts/FontAwesome.b06871f281fee6b241d60582ae9369b9.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontAwesome5_Brands';
  src: url('/assets/fonts/FontAwesome5_Brands.3b89dd103490708d19a95adcae52210e.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontAwesome5_Regular';
  src: url('/assets/fonts/FontAwesome5_Regular.1f77739ca9ff2188b539c36f30ffa2be.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontAwesome5_Solid';
  src: url('/assets/fonts/FontAwesome5_Solid.605ed7926cf39a2ad5ec2f9d391d3d.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontAwesome6_Brands';
  src: url('/assets/fonts/FontAwesome6_Brands.56c8d80832e37783f12c05db7c8849e2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontAwesome6_Regular';
  src: url('/assets/fonts/FontAwesome6_Regular.370dd5af19f8364907b6e2c41f45dbbf.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontAwesome6_Solid';
  src: url('/assets/fonts/FontAwesome6_Solid.adec7d6f310bc577f05e8fe06a5daccf.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fontisto';
  src: url('/assets/fonts/Fontisto.b49ae8ab2dbccb02c4d11caaacf09eab.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Foundation';
  src: url('/assets/fonts/Foundation.e20945d7c929279ef7a6f1db184a4470.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ionicons';
  src: url('/assets/fonts/Ionicons.6148e7019854f3bde85b633cb88f3c25.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaterialCommunityIcons';
  src: url('/assets/fonts/MaterialCommunityIcons.b62641afc9ab487008e996a5c5865e56.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MaterialIcons';
  src: url('/assets/fonts/MaterialIcons.4e85bc9ebe07e0340c9c4fc2f6c38908.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Octicons';
  src: url('/assets/fonts/Octicons.f7c53c47a66934504fcbc7cc164895a7.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SimpleLineIcons';
  src: url('/assets/fonts/SimpleLineIcons.d2285965fe34b05465047401b8595dd0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zocial';
  src: url('/assets/fonts/Zocial.1681f34aaca71b8dfb70756bca331eb2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
